$darkgreen: hsl(86, 97%, 35%);
$orange: hsl(46, 86%, 57%);
$backgroundComment: #e7e7e7;
$gray: hsl(0, 1%, 34%);

.meetups-card {
  background: $darkgreen !important;
}

.meetup-title,
.comments-title,
.profile-titles {
  color: $orange;
  text-transform: uppercase;
}

.meetup-info {
  color: $orange;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.comment-card {
  color: $gray !important;
  background: $backgroundComment !important;
  font-style: oblique;
}

.comment-title {
  font-weight: 700;
  font-style: normal;
  padding: 5px 16px;
}

.navbar-title {
  cursor: pointer;
}

//spinner:
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
